    .Site_Page{
        height: 100%;
        width: auto;
        scroll-behavior: smooth;
        overflow: scroll;
        overflow-x: hidden;
    }
    body{
        margin: 0;
        padding: 0;
        min-height: 100%;
        font-family: montserrat;
        background: #7F7FD5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        overflow: hidden;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
   }

   /*Pagini Principale*/

   .navbar {
       background: black;
       height: 80px;
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 1.2rem;
       position: sticky;
       top: 0;
       z-index: 999;
       font-family: 'Kumbh Sans', sans-serif;
   }
   .navbar__container {
       display: flex;
       justify-content: space-between;
       height: 80px;
       z-index: 1;
       width: 100%;
       max-width: 1300px;
       margin: 0 auto;
       padding: 0 50px;
   }

   .navbar__menu {
       display: flex;
       align-items: center;
       list-style: none;
   }

   .navbar__item {
       height: 80px;
       font-size: 1.4rem;
   }

   .navbar_links {
       color:#08AEEA;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 125px;
       text-decoration: none;
       height: 100%;
       transition: all 0.3 ease;
   }

   .Welcome_Text {
        display: flex;
        align-items: center;
        color: #355C7D;
        font-size: 30px;
        margin-right: 100px;
   }

   .navbar_links:hover {
       color: #7F7FD5;
       transform: scale(1.35);
       transition: all 0.3s ease-in-out;
   }


    /* Sectiunea Acasa */

    .Home_Section p {
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: bold;
        font-size: 30px;
        color: #fff;
        justify-content: center;
        display: flex;
    }

    .image1 {
        display: flex;
        justify-content: center;
    }

    .image1 img{
        width: 700px;
        height: auto;
        margin-bottom: 100px;
    }

    /* Sectiunea Traineri */

    .Traineri_Section p {
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: bold;
        font-size: 30px;
        color: #fff;
        justify-content: center;
        display: flex;
    }

    .Cadre_Section {
        margin-left: 60px;
        margin-bottom: 60px;
    }

    .Cadre_Section h1 {
        color: #fff;
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: bold;
        font-size: 50px;
    }

    .Cadru p{
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: bold;
        font-size: 30px;
        color: #fff;
        display:flex;
    }

    .Cadru img {
        width: 300px;
        height: auto;
    }

    /* Sectiunea Organizatori */

    .Organizatori_Section {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .Organizatori_Section p {
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: bold;
        font-size: 30px;
        color: #fff;
        justify-content: center;
        display: flex;
    }

    .Logo_Hella img{
        width: 260px;
        height: 160px;
        margin-left: 50px;
    }

    .Logo_UCV img{
        width: 390px;
        height: 160px;
        margin-left: 50px;
    }

    /* Sectiunea Calendar */

    .Calendar_Section {
        margin-left: 3rem;
        display: grid;
        justify-content: center;
    }

    .Calendar_Section h1{
       font-family: 'Kumbh Sans', sans-serif;
       font-size: 3.5rem;
       font-weight: bold;
       color: #3a6073;
    }

    .Calendar_Section p{
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: bold;
        font-size: 30px;
        color: #fff;
    }

    /* Sectiunea Contact */

    .Contact_Section {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .Contact_Section p {
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: bold;
        font-size: 30px;
        color: #fff;
        margin: 1rem;
    }

    .Contact_Email {
        width: 700px;
        height: 70px;
        border-radius: 100px;
        outline: none;
        border: none;
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 2rem;
        font-weight: bold;
    }

    .Contact__Text {
       font-family: 'Kumbh Sans', sans-serif;
       font-size: 2rem;
       font-weight: bold;
       color: #fff;
       display: flex;
       justify-content: center;
    }

    .Contact_Info {
        width: 700px;
        height: 200px;
        border-radius: 20px;
        outline: none;
        border: none;
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 2rem;
        font-weight: bold;
    }

    .Submit_Contact {
        display: flex;
        justify-content: center;
        margin: 3rem;
    }

    .Submit_Contact button{
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        width: 150px;
        height: 50px;
        border-radius: 50px;
    }

    .Submit_Contact button:hover{
        background-color:#355C7D;
    }

    /* Sectiunea Cursuri */

    .Cursuri_Section {
        margin-left: 3rem;
        display: grid;
        justify-content: center;
    }

    .Cursuri_Section h1{
       font-family: 'Kumbh Sans', sans-serif;
       font-size: 4rem;
       font-weight: bold;
       color: #355C7D;
    }

    .Cursuri_Section p{
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 2.8rem;
        font-weight: bold;
        color: #fff;
    }

    /* Sectiunea Noutati */

    .Noutati_Section {
        display: flex;
        justify-content: center;
        margin: 3rem;
    }

    .Noutati_Section h1{
        font-family: 'Kumbh Sans', sans-serif;
       font-size: 4rem;
       font-weight: bold;
       color: #355C7D;
    }

    .Noutati_Section p{
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
    }